.createButton {
    width: 300px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    background: #5579D6 !important;
    font-style: normal !important;
    border-radius: 20px;
    font-size: 24px !important;
    line-height: 28px !important;
}